body {
    margin-top: 20px;
    background-color: #bbdee3;
    color: #1f2933;
}

.icon-box {
    font-size: 30px;
    margin-bottom: 33px;
    display: inline-block;
    color: #ffffff;
    height: 65px;
    width: 65px;
    line-height: 65px;
    background-color: #59b73f;
    text-align: center;
    border-radius: 0.3rem;
}

.icon-box.medium {
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.social-icon-style2 {
    margin-bottom: 0;
    display: inline-block;
    padding-left: 10px;
    list-style: none;
}

.social-icon-style2 li {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

.social-icon-style2 li a {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background: #59b73f;
    height: 41px;
    line-height: 41px;
    width: 41px;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.social-icon-style2 li a:hover {
    background-color: #ff712a;
    transform: translateY(-2px);
}

a,
a:active,
a:focus {
    color: #616161;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #ff712a;
    text-decoration: underline;
}

.text-secondary,
.text-secondary-hover:hover {
    color: #59b73f !important;
}

.text-primary,
.text-primary-hover:hover {
    color: #ff712a !important;
}

.display-25 {
    font-size: 1.4rem;
}

p {
    margin: 0 0 20px;
}

.mb-1-6,
.my-1-6 {
    margin-bottom: 1.6rem;
}

.custom-progress {
    background-color: #e6e6e6;
}

.custom-bar {
    transition: width 0.8s ease-in-out;
}


